[submodule "brand-user-authorization-backend"]
	path = brand-user-authorization-backend
	url = https://github.com/Francis-Zheng/brand-user-authorization-backend.git
[submodule "BrandAnalysis-Questionnaire"]
	path = BrandAnalysis-Questionnaire
	url = https://github.com/Francis-Zheng/BrandAnalysis-Questionnaire.git
[submodule "brand-report-backend"]
	path = brand-report-backend
	url = https://github.com/packagewjx/brand-report-backend.git
[submodule "brand-report-web"]
	path = brand-report-web
	url = https://github.com/packagewjx/brand-report-web.git
[submodule "CNCommentFront"]
	path = CNCommentFront
	url = https://github.com/Francis-Zheng/CNCommentFront.git
